body {
  background-color: white;
  margin-top: 75px;
}

/* .profile-pic {
  width: 340px;  
  border-radius: 10px;
  margin-bottom: 15px;
} */
img.profile-pic{
  width: 300px;  
  border-radius: 10px;

  /* padding-left: 15px; */

  /* max-width: 100%; */
  height: auto;
  /* max-width: 50vw; */

  /* border-radius: 10px; */
  /* margin-bottom: 15px;  */
}
 
.profile-container-text, 
.history-container-text, 
.skills-container-text, 
.education-container-text,
.image-container-text {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;

  /* border: 2px groove indigo; */
}

.image-container {
  text-align: center;
  /* padding: 0; */
}

.zoom:hover {
  /* transform: scale(1.08); */
  /* border: 2px groove indigo; */
}

.link {
  color: #007bff;
}