.profile-pic {
  width: 100%;
}

.round-corner {
  border-radius: 10px;
}

/* to equalise the horizontal and vertical gaps */
.pro-container {
  margin-bottom: 30px; 
}

.pro-card-footer {
  border-top: 1px solid rgb(222, 226, 230);
}

body {
  margin-top: 70px;
  margin-bottom: 50px;
  background-color: whitesmoke; 
  /* background-image: url("/images/wallpaper.jpg"); */
}

@media (min-width: 1200px) { 
  .right-border{
    border-right: 1px solid rgb(222, 226, 230);
  }
 }

 @media (max-width: 1200px) { 
  .profile-pic-container{
    text-align: center;
  }
 }