body {
  background-color: white;
  margin-top: 75px;
}

.profile-pic {
  width: 320px;  
  border-radius: 10px;
  margin-bottom: 15px;
}
 
.profile-container-text, 
.history-container-text, 
.skills-container-text, 
.education-container-text {
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.image-container {
  text-align: center;
  padding: 0;
}

.zoom:hover {
  /* transform: scale(1.08); */
  /* border: 2px groove indigo; */
}

.link {
  color: #007bff;
}